
<table>
    <thead>
        <th>Team Number</th>
        <th>Team Name</th>
        <th>Average Score</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let team of teams | orderBy:sortFn">
            <td>
                <a [routerLink]="['/team', team.number]">{{ team.number }}</a>
            </td>
            <td>
                {{ team.name }}
            </td>
            <td>
                {{ team.averageScore }}
            </td>
            <td>         
                <a [routerLink]="['team', team.number, 'edit']">Edit Team</a>
            </td>
        </tr>
    </tbody>
</table>
