<div class="about">
    <h3>About CyberScouter</h3>
    <br />
    <p>This app was made by Alan and Wyatt from FTC team 13737 for TSA Software Development 2024.</p>
    <p>It was made to help FTC Robotics teams with scouting other teams at events.</p>
    <p>Scouting is a big part of FTC Robotics; knowing which teams pair well with you is crucial for competitive teams.</p>
    <p>While this was made for a TSA event, the goal of this app is to help both the Belton robotics teams and any other teams who wish to use our app.</p>
</div>