
<p>Team Number: {{team?.number}}</p>
<p>Team Name: {{team?.name??'Undefined'}}</p>

<br />
<h2>Robot Info</h2>

<p>Drive Info:</p>
<p>{{team?.driveInfo}}</p>

<p>Intake Info:</p>
<p>{{team?.intakeInfo}}</p>

<p>Launcher Info:</p>
<p>{{team?.launcherInfo}}</p>

<p>Has Sorter: {{team?.hasSorter}}</p>

<p *ngIf="team?.hasSorter === true">Sorter Info:</p>
<p *ngIf="team?.hasSorter === true">{{team?.sorterInfo}}</p>


<br />
<h2>Auto Close</h2>

<p>Artifacts Scored: {{team?.closeAutoArtifacts}} </p>

<p>Leave: {{team?.closeAutoLeave}}</p>

<p>Average Auto Score: {{team?.closeAutoScore}}</p>

<p>Additional Auto Notes: {{team?.closeAutoNotes}}</p>


<br />
<h2>Auto Far</h2>

<p>Artifacts Scored: {{team?.farAutoArtifacts}} </p>

<p>Leave: {{team?.farAutoLeave}}</p>

<p>Average Auto Score: {{team?.farAutoScore}}</p>

<p>Additional Auto Notes: {{team?.farAutoNotes}}</p>


<br /><br />
<h2>Teleop</h2>

<p>Average Artifacts Scored: {{team?.artifactsScored}}</p>

<p>Cycle Time: {{team?.cycleTime}}</p>

<p>Average TeleOp Score: {{team?.teleopScore}}</p>

<p>Additional Teleop Notes: {{team?.teleopNotes}}</p>


<br /><br />
<h2>End Game</h2>

<p>End-Game And Parking Strategy: {{team?.endGameStrategy}}</p>

<p>Average End-Game Score: {{team?.endGameScore}}</p>

<p>Additional End Game Notes: {{team?.endGameNotes}}</p>


<br />

<p>Average Score: {{team?.averageScore}}</p>

<br />

<a [routerLink]="['edit']">Edit Team</a>
