<h3>Add a new team</h3> <br />
<form #addTeam="ngForm" (ngSubmit)="onSubmit(addTeam)">

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-hashtag"></i></span>
        <input type="number" class="form-control" placeholder="Team Number" name="teamNumber" ngModel required>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user-tag"></i></span>
        <input type="text" class="form-control" placeholder="Team Name" name="teamName" ngModel required>
    </div>

    <input type="submit" value="submit" class="btn btn-primary">
</form>

<p style="color:red">{{errorString}}</p>
