.page {
    border: solid rgb(234, 0, 255) 2px;
    border-radius: 5px;
    margin-top: 15px;
    padding: 20px;
    background-color: rgb(244, 250, 255);
    min-height: 300px;
}

.menu {
    font-variant: small-caps;
}

.menu a {
    font-size: 1.5em;
    margin-right: 15px;
}

.title {
    font-size: 3.5em;
    margin-right: 30px;
    font-family: 'CyberWar';
}

footer {
    text-align: center;
    margin: 30px;
    color: rgb(157, 0, 255);
}

footer .fa-github {
    font-size: 1.3em;
}

.links a {
    margin: 0 3px;
}