
<div class="menu">
  <span  class="title"> CyberScouter </span>
  <a [routerLink]="['/']"> <i class="fa fa-house"></i> Home</a>
  - 
  <a [routerLink]="['add-team']"> <i class="fa fa-plus"></i> Add Team</a>
  - 
  <a [routerLink]="['import']"> <i class="fa fa-plus"></i> Import Team Data</a>
  - 
  <a [routerLink]="['suggestions']"> <i class="fa-regular fa-lightbulb"></i> Suggested Teams</a>
  - 
  <a [routerLink]="['about']"> <i class="fa-regular fa-circle-question"></i> About</a>
</div>

<div class="page">
  <router-outlet />
</div>

<footer>
  <p><i class="fa-regular fa-copyright"></i> 13737 Belton CyberPirates 2024</p>
  <div class="links">
    <a title="Github Repo" href="https://github.com/Oshawhaat/TSA-App-2024"> <i class="fa-brands fa-github"></i> </a>
    <a title="Our Website" href="https://belton-cyberpirates.my.canva.site/"> <i class="fa-solid fa-skull-crossbones"></i> </a>
  </div>
</footer>