body {
    background-color: rgb(0, 0, 0);
}

a, .title {
    color:rgb(182, 86, 255);
}

a :hover {
    color:rgb(0, 150, 255);
}

.display-none {
    display: none;
}

.hide {
    visibility: hidden;
}

.text-right {
    text-align: right;
}
